/* Firefox 隐藏滚动条 */
html,
body {
    background-color: rgb(16, 16, 20);
    ;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

/* Chrome 隐藏滚动条 */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}
